node_modules
/dist
/dist-electron
/dist-server
/release
/doc.env
.env.local
/@docs/.obsidian
.DS_Store
PromptMate_browser-extension.zip
browser-extension/dist
browser-extension/node_modules
browser-extension.zip
*.local
src/build-info.json
src/build-info.json
*.local
.DS_Store
